extends layout
block content
    div#aboutContainer
        div 
            img(src='../images/img055_017.jpg')
        div#story The Ope! Story
        div#homeFour
        div#bioQuote
            | Ope! Records began with a simple question: What if you didn’t have to move to Nashville, 
            | New York, or Los Angeles to achieve someone else’s version of success in your artform? 
            | What if going coastal wasn’t synonymous with accomplishing your artistic dreams? As aspiring 
            | musicians with dreams of their own and firm roots in the vibrant artistic community of the 
            | American Midwest, founders Hudson Freeman and Ephraim McFarland sought to answer these questions 
            | by establishing a record label that did everything differently - a label that brought artists an 
            | approach to promotion and management that is as unique as they are. Using cutting-edge technology 
            | and personalized promotional strategies, Ope! Records seeks to give artists the success they’re aiming 
            | for without demanding the surrender of their soul in the process. Ope! Records is a label run by artists, 
            | for artists, with the fundamental belief that where you are is exactly where you need to be to start realizing 
            | your dreams as an artist.