extends layout
block content
  div#homeOne 
    div.oneText 
      | Where you are is 
      br
      | exactly where 
      br
      | you need to be!
  div#homeTwo
    div HOME TWO
  div#homeThree
    div HOME THREE
