extends layout
block content
  div.container
    div#homeOne 
      div.oneText 
        | Where you are is 
        br
        u EXACTLY
        |  where 
        br
        | you need to be!
      div.aside 
        | Your sound. Your audience. Your Community. Your Success.
        br
        | All on your terms.
        br
        button(class="joinButton", type="submit") Join the Community
  div#homeTwo
    div HOME TWO
  div#homeThree
    div HOME THREE
