extends layout
block content
  div#headerImage
    img(src="images/tv_cropped.jpg")
  div.aside Where you are is <b>exactly</b> where you need to be to find your audience
    div
      button(class="joinButton", type="submit") Join our Community
  div#homeTwo
    div.bold We believe artists deserve an approach to furthering their sound that is as unique as they are.
    div.italic That's why our mission is to help artists find their audience without sacrificing their integrity.
    div.list 
      h2 Ope! Artists have access to:
      ul
        li Scary good promotional strategies powered by cutting edge technology from Ope! Labs.
        li Professional Social Media management with guarenteed growth.
        li Customized tour planning to maximize your reach to your audience.
        li Mixing and mastering for your music provided by our d(Ope!) engineering team.
        li A collaborative community of like-minded artists on their way to success.
  div#homeThree
    h1 Our Story
  div#homeFour
    div#bioQuote
      | Ope! Records began with a simple question: What if you didn’t have to move to Nashville, 
      | New York, or Los Angeles to achieve someone else’s version of success in your artform? 
      | What if going coastal wasn’t synonymous with accomplishing your artistic dreams? As aspiring 
      | musicians with dreams of their own and firm roots in the vibrant artistic community of the 
      | American Midwest, founders Hudson Freeman and Ephraim McFarland sought to answer these questions 
      | by establishing a record label that did everything differently - a label that brought artists an 
      | approach to promotion and management that is as unique as they are. Using cutting-edge technology 
      | and personalized promotional strategies, Ope! Records seeks to give artists the success they’re aiming 
      | for without demanding the surrender of their soul in the process. Ope! Records is a label run by artists, 
      | for artists, with the fundamental belief that where you are is exactly where you need to be to start realizing 
      | your dreams as an artist.
