extends layout
block content
  div#topImage
    img(src="images/tv_cropped.jpg")
  div#servicesContainer
    h2 Here's what we offer
    div.artistFeatures
      h3 For Artists:
      ul
        li Data-driven promotional strategies
        li Recording and Mastering services
        li Tour management
        li Cutting-edge social media strategies
    div.fanFeatures
      h3 For Fans:
      ul
        li Custom mixtapes curated by Ope! Labs
        li Smart, sleek artist discovery
        li Personalized connections with your favorite artists
