extends layout
block content
  div.container
    div#homeOne 
      div.oneText 
        | Where you are is 
        br
        u EXACTLY
        |  where 
        br
        | you need to be!
      div.aside 
        | Your sound. Your audience. Your Community. Your Success.
        br
        | All on your terms.
        br
        button(class="joinButton", type="submit") Join the Community
  div#homeTwo
    div.bold
      | We believe that artists deserve an approach
      br
      | to furthering their sound that is as unique
      br
      | as they are.
    div.italic
      | That's why our mission is to enable artists
      br
      | to find their audience without sacrificing their integrity.
    div.list 
      h2 Ope! Artists have access to:
      ul
        li Scary good promotional strategies powered by cutting edge technology from Ope! Labs.
        li Professional Social Media management with guarenteed growth.
        li Customized tour planning to maximize your reach to your audience.
        li D(Ope!) mixing and mastering for your music provided by our d(Ope!) engineering team.
        li A collaborative community of like-minded artists on their way to success.
  div#homeThree
    div HOME THREE
