doctype
html
    head
        title Ope! Records
        meta(charset="UTF-8")
        link(href="/css/StyleSheet.css", rel="stylesheet")
    body
      extends navigation
      div#homeHeader
        h1#opeTitle Ope! Records
        div.description a collaboration of artists and producers for the 21st century
      div#features
        h2 Here's what we offer
        div.artistFeatures
          h3 For Artists:
          ul
            li Data-driven promotional strategies
            li Recording and Mastering services
            li Tour management
            li Cutting-edge social media strategies
        div.fanFeatures
          h3 For Fans:
          ul
            li Custom mixtapes curated by Ope! Records staff and OpeTech
            li Smart, sleek artist discovery
            li Personalized connections with your favorite artists
