doctype
html
    head
        title Ope! Records
        meta(charset="UTF-8")
        link(href="/css/StyleSheet.css", rel="stylesheet")
    body
        ul.navBar 
            li
                a#logo(href='/')
                    img(src='images/logos/ope_white.png')
            li
                a(href='/artists') Artists
            li
                a(href='/services') Services
        block content
