doctype
html
    head
        title Ope! Records
        meta(charset="UTF-8")
        link(href="/css/StyleSheet.css", rel="stylesheet")
    body
        div.navBar
            span.navBarLeft
                a(href='/')
                    img#logo(src='images/logos/ope_white.png')
            a(href='/artists') Artists
            a(href='/services') Services
                
            span.navBarRight
                a(href='/login') Log in
                a Join our Community
        block content
