extends layout
block content
    .loginContainer
        form(method='POST', action='/login')
            .formElement
                label(for='email') Email:
                input(type='email', name='email')
            .formElement 
                label(for='password') Password:
                input(type='password', name='password')
            button.formSubmit(type='submit') Log in with Email
            div OR
            a#abtn(href='/login/facebook') Log in with Facebook
