extends layout
block content
  .backgroundContainer
      .loginContainer
        .loginTitle Login with Facebook to connect to Ope!
        a(class="loginBtn loginBtn--facebook" href='/login/facebook') Login with Facebook
