extends layout
block content
  if error
    .alert.alert-danger=error
  div(class="form-popup" id="myForm")
    form(class="form-container", method="post", action="/login")
      h1 LOGIN
      label(for="Username") <b>Username</b>
      input(placeholder="Enter Username", name="username", type="text")
        
      label(for="psw") <b>Password</b>
      input(type="password", placeholder="Enter Password", name="password", required)
        
      button(type="submit", class="btn") Login
