extends layout
block content
  .servicesContainer
    .musicTableContainer
      div
        form(id="musicInfo")
          input(type="number", placeholder="Number of Tracks you would like.", name="numberOfTracks")
          button(type="submit",id="getMusicBtn") Get Music
        table
          tr 
            th Name
            th Song Name 
            th Tweet 
          tr 
            td ArtistName
            td SongName
            td
              a tweet
          tr
            td Nathan
            td songSong
            td
              a tweet
