extends layout
block content
  div Hello world
  div
    table
      tr 
        th Name
        th Song Name 
        th Tweet 
      tr 
        td ArtistName
        td SongName
        td
          a tweet
