/*
black: #050707
mint: #bdddc7
red: #d54a4d
yellow: #dbb359
blue: #30334d
tan: #e0dec2
photo grey: #f5f5f5
*/
/* we should totally use an image hover overlay: https://www.w3schools.com/css/css3_images.asp*/

body {
	background-color: #f5f5f5;
	font-family: 'Avenir', Verdana, Helvetica, sans-serif;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	/* scroll-snap-type: y mandatory; */
}

.aside {
	/* background-color: #050707; */
	color: black;
	/* opacity: 0.75; */
	height: 160px;
	text-align: center;
	font-size: 40px;
	padding-top: 15px;
}

#headerImage {
	/* background: url('../images/tv_cropped.jpg') repeat;
	background-size: 100%, 600px;
	background-repeat: no-repeat; */
	/* scroll-snap-align: start; */
	color: white;
	/* font-weight: bold; */
	font-size: 40px;
	/* -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
}
#homeOne img {
	height: 25%;
	width: 100%;
	object-fit: cover;
}
.joinButton {
	background-color: black;
	color: white;
	font-size: 18px;
	height: 40px;
	width: 200px;
}

.oneText {
	padding-left: 2%;
	padding-top: 15%;
}

#homeTwo {
	background: url('../images/background/A0A7134-R1-02-00A.jpg');
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	/*filter: blur(10px);*/
	height: 100vh;
	width: 100vw;
	/* scroll-snap-align: start; */
	color: #050707;
	padding-left: 30px;
	padding-top: 75px;
	font-size: 24px;
	margin-top: 75px;
}
.bold {
	font-weight: bold;
	width: 38%;
}

.italic {
	padding-top: 40px;
	font-style: italic;
	width: 38%;
}

.list {
	padding-top: 20px;
}

.list ul {
	width: 33%;
}

.list li {
	padding-top: 30px;
}

#homeThree {
	text-align: center;
	background: url('../images/img060_022.jpg');
	height: 100vh;
	width: 100%;
	background-position: bottom;
	background-size: cover;
	/* scroll-snap-align: start; */
}

#homeFour {
	background: linear-gradient(90deg, #dbe2dd, #b1b5a4);
}

#bioQuote {
	text-align: center;
	width: 65%;
	margin-left: 20%;
	padding: 10px;
	font-size: 24px;
	line-height: 48px;
	background-color: #050707;
	color: white;
	opacity: 0.75;
}
/*right side #b1b5a4*/
/*left side #dbe2dd*/
.navBar {
	background-color: #050707;
	opacity: 0.75;
	height: 50px;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.navBarRight {
	text-align: right;
	float: right;
}

.navBarLeft {
	float: left;
	text-align: left;
}

.navBar a {
	text-align: center;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 20px;
	color: #f2f2f2;
	text-decoration: none;
	font-size: 20px;
}

.navBar a:hover {
	color: #dbb359;
}

#logo {
	max-height: 40px;
	max-width: 70px;
	padding-top: 8px;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.loginContainer {
	padding-top: 50px;
}
.loginContainer img {
	position: relative;
}
