/*
black: #050707
mint: #bdddc7
red: #d54a4d
yellow: #dbb359
blue: #30334d
tan: #e0dec2
*/

body {
	font-family: 'Avenir', Verdana, Helvetica, sans-serif;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
}

#homeOne {
	background: url("../images/tv_cropped.jpg");
	background-size: cover;
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
	color: black;
	font-weight: bolder;
	font-size: 40px;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.oneText {
	padding-left: 2%;
	padding-top: 20%;
}

#homeTwo {
	background-color: #dbb359;
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
}

#homeThree {
	background-color: #e0dec2;
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
}

.navBar {
	background-color: #050707;
	opacity: 0.75;
	position: absolute;
	width: 100%;
}
ul.navBar {
	margin-top: 0px;
	list-style-type: none;
	height: 40px;
	text-align: left;
	padding-bottom: 20px;
}
.navBar li {
	display: inline;
}
.navBar li a {
	text-align: center;
	line-height: 19px;
	padding-left: 10px;
	padding-right: 20px;
	color: #f2f2f2;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}
.navBar a:hover {
	color: #dbb359;
}

#logo img {
	max-height: 40px;
	padding-top: 10px;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
