/*
black: #050707
mint: #bdddc7
red: #d54a4d
yellow: #dbb359
blue: #30334d
tan: #e0dec2
photo grey: #f5f5f5
*/
/* we should totally use an image hover overlay: https://www.w3schools.com/css/css3_images.asp*/

body {
	background-color: #f5f5f5;
	font-family: 'Avenir', Verdana, Helvetica, sans-serif;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	/* scroll-snap-type: y mandatory; */
}
.servicesContainer {
	background: url('../images/background/img390_011.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
}
.musicTableContainer {
	position: absolute;
	margin-top: 10%;
	margin-left: 20%;
	height: 70%;
	width: 60%;
	background-color: #050707;
	opacity: 0.85;
	color: white;
}
#musicInfo {
	padding-left: 30%;
}
#getMusicBtn {
	height: 56px;
}
input {
	height: 50px;
	width: 300px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
	font-size: 20px;
}
tr:nth-child(even){
	background-color: #f2f2f2;
	color:black;
}

.aside {
	/* background-color: #050707; */
	color: black;
	/* opacity: 0.75; */
	height: 160px;
	text-align: center;
	font-size: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.backgroundContainer {
	background: url('../images/background/img382_003.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
}
.loginContainer {
	position: absolute;
	margin-top: 15%;
	margin-left: 30%;
	height: 550px;
	width: 40%;
	background-color: #050707;
	opacity: 0.75;
	color: white;
}
.loginTitle {
	font-size: 32px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
	color: white;
}

#headerImage {
	color: white;
	font-size: 40px;
}
#homeOne img {
	height: 25%;
	width: 100%;
	object-fit: cover;
}
.joinButton {
	background-color: black;
	color: white;
	font-size: 18px;
	height: 40px;
	width: 200px;
}

.oneText {
	padding-left: 2%;
	padding-top: 15%;
}

#homeTwo {
	background: url('../images/background/A0A7134-R1-02-00A.jpg');
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	/*filter: blur(10px);*/
	height: 100vh;
	width: 100vw;
	/* scroll-snap-align: start; */
	color: #050707;
	padding-left: 30px;
	padding-top: 75px;
	font-size: 24px;
}
.bold {
	font-weight: bold;
	width: 38%;
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin-left: 35%;
  padding: 5px 15px 5px 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.loginBtn:link, .loginBtn:visited, .loginBtn:hover, .loginBtn:active {
	text-decoration: none;
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

.italic {
	padding-top: 40px;
	font-style: italic;
	width: 38%;
}

.list {
	padding-top: 20px;
}

.list h2 {
	padding-top: 10px;
	margin: 0;
}

.list ul {
	margin: 0;
	width: 33%;
}

.list li:first-child {
	padding-top: 7px;
	width: 101%;
}
.list li {
	padding-top: 15px;
}

#homeThree {
	text-align: center;
	background: url('../images/img055_017.jpg');
	height: 100vh;
	width: 100%;
	background-position: bottom;
	background-size: cover;
	/* scroll-snap-align: start; */
}

#homeThree h1 {
	margin: 0;
}

#homeFour {
	background: linear-gradient(90deg, #dbe2dd, #b1b5a4);
}

#bioQuote {
	text-align: center;
	width: 65%;
	margin-left: 20%;
	padding: 10px;
	font-size: 24px;
	line-height: 48px;
	background-color: #050707;
	color: white;
	opacity: 0.75;
}
/*right side #b1b5a4*/
/*left side #dbe2dd*/
.navBar {
	background-color: #050707;
	opacity: 0.75;
	height: 50px;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.navBarRight {
	text-align: right;
	float: right;
}

.navBarLeft {
	float: left;
	text-align: left;
}

.navBar a {
	text-align: center;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 20px;
	color: #f2f2f2;
	text-decoration: none;
	font-size: 20px;
}

.navBar a:hover {
	color: #dbb359;
}



#logo {
	max-height: 40px;
	max-width: 70px;
	padding-top: 8px;
	opacity: 1.0;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
